ZOHO_ACCOUNT_ID=
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=
ZOHO_API_BASE_URL=https://mail.zoho.eu
ZOHO_ACCOUNTS_BASE_URL=https://accounts.zoho.eu
ENQUIRY_TO_EMAIL=
ENQUIRY_FROM_ADDRESS=
